body {
  background-color: pink;
}
h1 {
  color: blue;
}

<html>
<head>
<link rel="styles" href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap">
<style>
body {
  font-family: 'Sacramento', cursive;
}
</style>
</head>
<body>
